<!doctype html>
<html lang="sv" ng-app="trappfika">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="fragment" content="!" />
<title>Trappfika</title>
<!-- Bootstrap core CSS -->
<link href="dist/css/bootstrap.css" rel="stylesheet">
<link href="css/custom.css" rel="stylesheet">

</head>

<body>

<div class="container" xstyle="width:400px;margin:20px;" ng-controller="HeaderCtrl">
    <div>
        <div class="row">
            <div class="pull-left">
                <h2 data-toggle="modal" data-target="#trap">Trappfika v {{ week }} </h2>
            </div>
            <div class="pull-right">
                <h3>
                    <span ng-show="user">
                        {{user.name}} | <a href ng-click="logout()">Logout</a>
                    </span>
                    <span ng-hide="user"><a href ng-click="login()">Login</a></span>
                </h3>
            </div>
        </div>
        <nav class="navbar navbar-default" role="navigation">
            <ul class="nav navbar-nav">
                <li><a href="#/">Tävlande</a></li>
                <li><a href="#/rules">Visa regler</a></li>
                <li><a href="#/weeks">Tidigare veckor</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="pull-right" ng-show="user"><a href="#/new">Lägg till tävlande</a></li>
            </ul>
        </nav>
    </div>

    <div ng-view></div>

    <!-- Modal -->
    <div class="modal fade" id="trap" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <img src="images/trap.gif"/>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="dist/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js"></script>
<script src="https://cdn.firebase.com/v0/firebase.js"></script>
<script src='https://cdn.firebase.com/v0/firebase-simple-login.js'></script>
<script src="http://firebase.github.io/angularFire/angularFire.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/services.js"></script>
<script type="text/javascript" src="js/controllers.js"></script>
<script type="text/javascript" src="js/trappfika.js"></script>
</body>
</html>
